NEXT_PUBLIC_AUTH_BASE_URL=http://localhost:3001
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_CATALOG_BASE_URL=http://localhost:3004
NEXT_PUBLIC_PIPELINE_BASE_URL=http://localhost:3006
NEXT_PUBLIC_SYSCONFIG_BASE_URL=http://localhost:3008